.App{
    background-color: rgb(194, 112, 41);
}
ul {
    background-color: rgb(194, 112, 41);
}

li {
    border:rgb(102, 96, 96);
}

.card-body {
    background-color: ghostwhite;
}

.card-header {
    background-color: rgb(211, 208, 125);
    border-bottom-color:ghostwhite;
}

.card.border-info {
    border-bottom-color: rgb(78, 74, 74);
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: ghostwhite;
}

#alltron {
    background-image: url("../images/all.jpeg");
    background-size: cover;
    background-position: 0% 50%;
    text-shadow: rgb(190, 186, 58) 0.1em 0.1em 0.1em;
}



